<section class="login flex justify-center py-24">
  <div class="w-full max-w-2xl">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <a href="#">
        <div class="flex items-center justify-center">
          <img
            title="Click to change photo."
            id="profile-img"
            src="/images/profiles/profile.png"
            alt="profile-img"
            style="
              width: 250px;
              height: 250px;
              border-radius: 50%;
              box-shadow: 0 0 10px 1px #ccc;
            "
          />
        </div>
      </a>

      <% if(messages.error) { %>
      <div class="text-red-500 text-sm mb-3"><%= messages.error %></div>
      <% } %>
      <div id="admin-id" class="py-2 font-bold text-sm">
        Admin ID: <%= adminId %>
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Name
        </label>
        <div
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <%= name?name:'' %>
        </div>
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Age
        </label>
        <div
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
          <%= age?age:'' %>
        </div>
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Email
        </label>
        <div
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
        <%= mail?mail:''  %>
        </div>
      </div>
      <div class="mb-4">
        <label
          class="block text-gray-700 text-sm font-bold mb-2"
          for="username"
        >
          Mobile
        </label>
        <div
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        >
        <%= mobile  %>
        </div>
      </div>
      <div id="updatePassDiv" class="flex hidden items-center justify-between">
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            Old Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="old-password"
            type="password"
            placeholder="******************"
          />
        </div>
        <div class="mb-6">
          <label
            class="block text-gray-700 text-sm font-bold mb-2"
            for="password"
          >
            New Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline"
            id="new-password"
            type="password"
            placeholder="******************"
          />
        </div>
      </div>
      <div class="flex items-center justify-between">
        <a href="/admin/logout">
          <button
            class="btn flex items-center justify-center rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit"
          >
            <img
              src="/img/exit.png"
              alt="logout"
              class="filter invert w-5 h-5 mr-2"
            />
            Log Out
          </button>
        </a>
        <button
          id="change-password-btn"
          class="btn rounded-full text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          Change Password
        </button>
        <button
          id="update-password-btn"
          class="btn rounded-full hidden text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type="button"
        >
          Update Password
        </button>
      </div>
    </div>
    <p class="text-center text-gray-500 text-xs">
      &copy;2024 Restaurant Mgmt Systems. All rights reserved.
    </p>
  </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const changePassBtn = document.getElementById("change-password-btn");
  const updatePassBtn = document.getElementById("update-password-btn");
  const passwordDiv = document.getElementById("updatePassDiv");

  changePassBtn.addEventListener("click", () => {
    passwordDiv.classList.remove("hidden");
    updatePassBtn.classList.remove("hidden");
    changePassBtn.classList.add("hidden");
  });

  updatePassBtn.addEventListener("click", async () => {
    passwordDiv.classList.add("hidden");
    updatePassBtn.classList.add("hidden");
    changePassBtn.classList.remove("hidden");

    const idDiv= document.getElementById('admin-id')
    console.log(idDiv.textContent)
    const adminId = idDiv.textContent.replace('Admin ID: ', '').trim();
    console.log(adminId)
    console.log(adminId.trim())
    const oldPassword = document.getElementById("old-password").value;
    const newPassword = document.getElementById("new-password").value;
    try {
      const response = await axios.patch(`/admin/profile`, {
        adminId,
        oldPassword,
        newPassword
      });
      console.log("PATCH Request Successful");
      console.log(response.data);
    } catch (error) {
      console.error("Error making PATCH request:", error);
    }
  });
</script>
